@using System.Linq
@using TeamplateHotel.Models
@using TeamplateHotel.Handler
@model List<TeamplateHotel.Models.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
    var language = Request.Cookies["LanguageID"].Value;

}

@section css {

}
<!-- Page Banner Section Start -->
<div class="page-banner-section section bg-image" data-bg="/Content/assets/images/bg/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h2>Shopping Cart</h2>
                    <ul class="page-breadcrumb">
                        <li><a href="/">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Home")</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->
<!--Cart section start-->
@if (Model == null || Model.Count == 0)
{
    <br />
    <br />
    <div class="container sb-border pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
        <div class="row">
            @if (language == "vi")
            {
                <div class="col-12">
                    <h3>Giỏ hàng của bạn đang trống.</h3>
                    <p>
                        <br />
                        <a class="button wc-backward" href="/">
                            Quay lại
                        </a>
                    </p>
                </div>
            }
            else
            {<div class="col-12">
                    <h3>Your cart is currently empty.</h3>
                    <p>
                        <br />
                        <a class="button wc-backward" href="/">
                            Return to shop
                        </a>
                    </p>
                </div>

            }
        </div>
    </div>
    <br />
    <br />
}
else
{
    <div class="cart-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 ">
        <div class="container sb-border pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
            <div class="row">

                <div class="col-12">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-30">
                        <table class="table">
                            <thead>
                                @if (language == "vi")
                                {
                                    <tr>
                                        <th class="pro-thumbnail">Ảnh</th>
                                        <th class="pro-title">Tên Sản Phẩm</th>
                                        <th class="pro-price">Giá</th>
                                        <th class="pro-quantity">Số Lượng</th>
                                        <th class="pro-subtotal">Tổng Tiền</th>
                                        <th class="pro-remove">Xóa</th>
                                    </tr>
                                    
                                }
                                else
                                {
                                    <tr>
                                        <th class="pro-thumbnail">Image</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-subtotal">Total</th>
                                        <th class="pro-remove">Remove</th>
                                    </tr>
                                }
                            </thead>

                            <tbody>

                                @foreach (CartItem item in Model)
                                {

                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img src="@item.Hinh" alt="Product"></a></td>
                                        <td class="pro-title"><a href="#">@item.TenSanPham</a></td>
                                        <td class="pro-price"><span>$@item.DonGia</span></td>
                                        <td class="pro-quantity">
                                            @*<input type="hidden" name="sanPhamID" value="@item.SanPhamID" />*@
                                            <div class="pro-qty">

                                                <input type="number" min="1" step="1" max="20" name="Quantitynew" value="@item.SoLuong" data-id="@item.SanPhamID" />

                                            </div>
                                        </td>
                                        <td class="pro-subtotal"><span class="itemTotal">$@item.ThanhTien</span></td>
                                        <td class="pro-remove">
                                            <a id="deletepr" onclick="DeletePro(this)" data-id="@item.SanPhamID">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5">
                            @* <!-- Discount Coupon -->
                                <div class="discount-coupon">
                                    <h4>Discount Coupon Code</h4>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb-25">
                                                <input type="text" placeholder="Coupon Code">
                                            </div>
                                            <div class="col-md-6 col-12 mb-25">
                                                <button class="btn">Apply Code</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>*@
                        </div>

                        <!-- Cart Summary -->
                        <div class="col-lg-6 col-12 mb-30 d-flex">
                            <div class="cart-summary">
                                <div class="cart-summary-wrap">
                                    <h4> @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "CartSummary") </h4>
                                    <p>@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "SubTotal") <span id="totalprice">$@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.')</span></p>
                                    @*<p>Shipping Cost <span>$00.00</span></p>*@
                                <h2>@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "GrandTotal")  <span id="totalprice">$@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.')</span></h2>
                                </div>
                                <div class="cart-summary-button">
                                    <button class="btn" onclick="document.location.href='/checkout';">  @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Checkout2") </button>
                                    <button id="updatecart" class="btn">  @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "UpdateCart") </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Cart section end-->
}

@section script
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        /*-----
Quantity
--------------------------------*/
        $('.pro-qty').prepend('<button class="dec qtybtn">-</button>');
        $('.pro-qty').append('<button class="inc qtybtn">+</button>');
        $('.qtybtn').on('click', function () {
            var $button = $(this);
            var oldValue = $button.parent().find('input').val();
            var newVal = 0;
            if ($button.hasClass('inc')) {
                newVal = parseFloat(oldValue) + 1;
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 0) {
                    newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 0;
                }
            }
            $button.parent().find('input').val(newVal);
            var checkId = $button.parent().find('input').data('id');

            updateQt(checkId, newVal);
            console.log(newVal);

        });

        $('input[name=Quantitynew]').change(function (e) {
            var checkId = $(this).data('id');
            var soLuong = $(this).val();
            updateQt(checkId, soLuong);
        });

        function updateQt(checkId, soLuong) {

            $.ajax({
                type: 'GET',
                url: '/SuaSoLuong?sanPhamID=' + checkId + '&newQuantity=' + soLuong,
                dataType: 'json',
                success: function (result) {
                    if (result.status) {
                        //$(".itemTotal").text(result.itemTotal);
                        // $("#totalprice").text(result.total);

                        //$(e.target).closest(".cart_item").find('.product-subtotal .tongtien').text(result.itemTotal)
                    }

                }
            });
        }
    </script>
    <script>
        $("#updatecart").click(function () {
            location.reload();
        });
    </script>

    <script>

        //function DeletePro(id, mode, message = '', text = '', e = null) {

        //    var id = $('.deletepr').data('id');

        //    Swal.fire({
        //        title: 'Are you sure?',
        //        text: "You won't be able to revert this!",
        //        type: 'warning',
        //        showCancelButton: true,
        //        confirmButtonColor: '#3085d6',
        //        cancelButtonColor: '#d33',
        //        confirmButtonText: 'Yes, delete it!'
        //    }).then((result) => {
        //        if (result) {
        //            $.ajax({
        //                url: '/XoaKhoiGio?sanPhamID=' + id,
        //                type: 'GET',
        //                success: function (response) {
        //                    if (response.status) {
        //                        Swal.fire(
        //                            'Deleted!',
        //                            'Your file has been deleted.',
        //                            'success'
        //                        );
        //                        timer: 1500;
        //                        location.reload();
        //                    };

        //                    if (e !== null) {
        //                        $(e).closest('tr').remove();
        //                    }
        //                }
        //            });
        //        }
        //    }
        //    )
        //};


        function DeletePro(e) {
            //debugger;
            //var idpr = $('#deletepr').data('value');
            var id = $(e).data('id');

            console.log("ID seclect + ", id);

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/XoaKhoiGio?sanPhamID=' + id,
                        type: 'GET',
                        success: function (response) {
                            if (response.status) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                );
                                timer: 1500;
                                location.reload();
                            };

                            if (e !== null) {
                                $(e).closest('tr').remove();
                            }
                        }
                    });
                } else {
                    Swal.fire("Your imaginary file is safe!");
                }
            });
        }

    </script>
    @*<script>
            $('.deletepr').on('click', function () {
                var pID = $(this).data('id');
                var pQuan = $(this).data('quantity');

                console.log(pID);
                $.ajax({
                    method: "POST",
                    url: '/XoaKhoiGio',
                    data:JSON.stringify({
                        'sanPhamID': pID,
                    }),
                    dataType: 'JSON',
                    contentType: "application/json",
                    success: function (data) {
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.value) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                            }
                        })

                    },
                    error: function (data) {
                        alert("false",data);
                    }
                });
            });

        </script>*@

}
